@import 'universals';
@import 'variables';

.figure {
    display: flex;
    justify-content: center;
    margin-top: 8rem;

    &__img {
        width: 100px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px ;
    align-items: center;
    margin-top: 2rem;

    &__input {
        background-color: $color-primary;
        padding: 15px;
        border: 2px solid $color-dark;
        border-radius: 5px;
        width: 300px;
    }

    &__button {
        background-color: $color-secundary;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 150px;
    }

}

.swal-button:first-child {
    background-color: $color-secundary
}
.swal-button:first-child:hover{
    background-color: $color-secundary
}