@import 'universals';
@import 'variables';
@import 'mixing';


.figure {
    display: flex;
    justify-content: center;
    margin-top: 8rem;

    &__img {
        width: 100px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-top: 2rem;

    &__input {
        background-color: $color-primary;
        padding: 15px;
        border: 2px solid $color-dark;
        outline: none;
        border-radius: 5px;
        width: 300px;
    }

    &__button {
        background-color: $color-secundary;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 150px;
    }

}

.swal-button:first-child {
    background-color: $color-secundary
}

.swal-button:first-child:hover {
    background-color: $color-secundary
}


.chat {
    display: flex;

    &__figure {
        display: flex;
        justify-content: space-between;

        &__img {
            cursor: pointer;
        }
    }

    &__send {
        width: 3rem;
        height: 3rem;
        border: none;
        outline: none;
        border-radius: 50%;
        background-color: white;
        background-image: url("https://cdn-icons-png.flaticon.com/512/3024/3024593.png ");
        background-repeat: no-repeat;
        background-position:center;
        background-size: 20px 20px;
        cursor: pointer;
        position: absolute;
        right: 2rem;
    }

    &__icons {
        width: 1.5rem;
        object-fit: contain;
        cursor: pointer;
    }

    &__left {
        background-color: $color-light;
        width: 40%;
        height: 46rem;
        display: flex;
        flex-direction: column;


        &__main {
            display: flex;
            flex-direction: column;
            gap: 0.1rem;
        }
    }

    &__right {
        width: 60%;
        height: 52rem;

        &__header {
            display: flex;
            background-color: $color-primary;
            border-left: 1px solid $color-dark;
            justify-content: space-between;
            align-items: center;
            padding-right: 1rem;
        }

        &__info {
            display: flex;
        }

        &__name {
            display: flex;
            flex-direction: column;
            justify-content: center;

            & p {
                margin: 0;
            }
        }

        &__main {
            background-image: url("https://i.pinimg.com/originals/62/40/b6/6240b66d5c50c8661eee78b439a7d33c.jpg");
            height: 60%;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

        &__write {
            background-color: $color-primary;
            display: flex;
            gap: 1rem;
            padding: 1rem;

            &__input {
                width: 40rem;
                padding: 1rem;
                border: none;
                outline: none;
                border-radius: 1.5rem;
                display: flex;
            }
        }
    }

    &__user {
        background-color: white;
        padding: 1rem;
        width: 20rem;
        border-radius: 0px 15px 15px 15px;
    }

    &__contact {
        background-color: rgb(220, 248, 198);
        padding: 1rem;
        width: 20rem;
        border-radius: 15px 0px 15px 15px;
        margin-left: auto;
    }

    &__figure {
        background-color: $color-primary;
        padding: 1rem;

        &__img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
        }

    }

    &__search {
        padding: 1rem;
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;

        &__icon {
            display: flex;
            width: 1rem;
            padding: 1rem;
            cursor: pointer;

        }

        &__input {
            width: 32rem;
            padding: 1rem;
            border: none;
            outline: none;
            border-radius: 1.5rem;
            display: flex;
            text-align: center;
            background-image: url("https://cdn-icons-png.flaticon.com/512/54/54481.png");
            background-repeat: no-repeat;
            background-position: left center;
            background-position: 2rem;
            background-size: 20px 20px;
        }
    }


    &__history {
        height: 50px;
        background-color: white;
        padding: 1rem;
        display: flex;
        gap: 1rem;
        align-items: center;
        cursor: pointer;

        &__all {
            display: flex;
            flex-direction: column;
            white-space: nowrap;
            overflow: hidden;
            justify-content: center;
            gap: 0.3rem;
        }

        &__hour {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__paragraph {
            overflow: hidden;
            text-overflow: ellipsis;
        }

    }

    &__history:hover {
        background-color: $color-light;
    }
}

.perfil {
    background-color: $color-light;
    width: 40%;
    height: 46rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
    &__header {
        background-color: $color-secundary;
        color: white;
        height: 5rem;
        display: flex;
        gap: 1rem;
        align-items: center;
        padding: 3rem 1rem 0rem 1rem;
    }
    &__icons {
        width: 0.5rem;
        object-fit: contain;
    }
    &__input {
        display: flex;
        justify-content: center;
    }
    &__img {
        width: 15rem;
        height: 15rem;
        background-color: $color-dark;
        border-radius: 50%;
        border: none;
        outline: none;
        display: flex;
        text-align: center;
    }

    &__img::placeholder {
        color: white;
    }
    &__edit {
        display: flex;
        justify-content: space-between;
    }
    &__name{
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }
}

smal {
    color: $color-dark;
}
p {
    font-weight: bold;
}

section {
    display: none;
}

section.active {
    display: block;
}

.profile {
    display: flex;
}

